body{
  font-family: 'Catamaran', sans-serif;
}

.background{
  background: url(./images/rendered.png);
  background-size: cover;
  width: 100%;
  height: calc(100vh - 56px) !important;
  background-attachment: fixed;
}
.background1{
  background: url(./images/sunrise-warm.png);
  background-size: cover;
  width: 100%;
  height: calc(100vh - 56px) !important;
  background-attachment: fixed;
}
.background2{
  background: url(./images/purple-cosmos.png);
  background-size: cover;
  width: 100%;
  height: calc(100vh - 56px) !important;
  background-attachment: fixed;
}
/* .background1:before {
  content: "";
  width: 100%;
  height: calc(100vh - 56px) !important;
  background: url(./images/sunrise-warm.png);
  
  background-size: cover;
  opacity: 0;
  transition: opacity 5s;
  background-attachment: fixed;
  position: absolute;
  
}

.background1.fadein:before {
  opacity: 1;
  z-index: 0;
}
.background2:before {
  content: "";
  width: 100%;
  height: calc(100vh - 56px) !important;
  background: url(./images/purple-cosmos.png);

  background-size: cover;
  opacity: 0;
  transition: opacity 5s;
  background-attachment: fixed;
  position: absolute;
}

.background2.fadein:before {
  opacity: 1;
} */


/* font-family: 'Catamaran', sans-serif; */
/* font-family: 'Saira', sans-serif; */

.navbar-brand{
  font-family: 'Saira', sans-serif;
}

main{
  padding-top: 20px;
  padding-bottom: 50px;
}
.date{
  font-size: 14px;
  color: rgb(200, 214, 226);
}

.centerContent{
  width: auto;
  height: calc(100vh - 56px);
  display: flex;
align-items: center;
}

.marginCenter{
  margin: auto;
}

#start-btn{
  align: center;
  vertical-align: center;
  
}

.sunrise-container{
  float: none;
  margin: 150px;
}
/* #start-btn:hover{
  background-color: whitesmoke;
  width: 256px;
  height: 256px;
} */

.footer {
  font-size: 10px;
  position: fixed;
  padding: 12px 0px 0px 0px;
  border-top: 3px solid #d1a9b7;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(21, 17, 43);
  color: #6c757d;
  text-align: center;
}

#asteroid-option,
#satellite-option {
  display: none;
  margin: 30px;
}

.asteroid-fade,
.satellite-fade {
    width: 100%;
    height: 100%;
    
    /* background-color: #ff6699; */
    animation: 4s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
  }
  
  .satellite-fade:hover {
    /* background-color: #123; */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
  #satellite-icon{
    width: 200px;
    height: auto;
}

#asteroid-icon{
    width: 200px;
    height: auto;
}

#satellite-el{
    margin: auto;
    width: 100%;
    /* margin-right: 20px; */
  }
#asteroid-el{
  margin: auto;
  width: 100%;
/* overflow: hidden;  */
/* margin: 10px; */
}

#star-icon{
  width: 200px;
  height: auto;
}

#map{
  height: 220px;
  width: 250px;
}
/* styles for sunset page */
#starMain{
  align-content: center;
}

.frame,
.starInfo{
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  margin: auto;
  padding: 30px;
}

.iotdSize{
  width: 100%;
}
#starBtn{
  align: center;
  vertical-align: center;
}