body{
  font-family: 'Catamaran', sans-serif;
}
.bodyFont{
  font-family: 'Catamaran', sans-serif;
}

a{
  color: rgb(214, 94, 46);

}

p{
  font-family: 'Catamaran', sans-serif;
}

.background{
  background: url(./images/rendered.png);
  background-size: cover;
  width: 100%;
  height: calc(100vh - 56px) !important;
  background-attachment: fixed;
}
.background1{
  background: url(./images/sunrise-warm.png);
  background-size: cover;
  width: 100%;
  height: calc(100vh - 56px) !important;
  background-attachment: fixed;
}
.background2{
  background: url(./images/purple-cosmos.png);
  background-size: cover;
  width: 100%;
  height: calc(100vh - 56px) !important;
  background-attachment: fixed;
}

.navbar{
  background-color: rgb(36, 37, 37);
  border-bottom: 2px solid rgb(155, 184, 209);
  font-family: 'Saira', sans-serif;
  color:rgb(241, 135, 65);
}

main{
  padding-top: 20px;
  padding-bottom: 50px;
}
.date{
  font-size: 16px;
  color: rgb(155, 184, 209);
}

.centerContent{
  width: auto;
  height: calc(100vh - 56px);
  display: flex;
align-items: center;
}

.marginCenter{
  margin: auto;
}

#start-btn{
  align: center;
  vertical-align: center;
  
}

.sunrise-container{
  float: none;
  margin: 150px;
}


.footer {
  font-size: 14px;
  position: fixed;
  padding: 12px 0px 0px 0px;
  border-top: 3px solid rgb(155, 184, 209);
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(36, 37, 37);
  color: #6c757d;
  text-align: center;
}

.card{
  /* background-color:rgb(36, 37, 37,); */
  background: rgba(36, 37, 37, 0.7);
  color: rgb(155, 184, 209);
}

.jumbo{
  border-radius: 15px;
  margin: auto;
  background: rgba(36, 37, 37, 0.7);
  color: rgb(155, 184, 209);
}

#asteroid-option,
#satellite-option {
  display: none;
  margin: 30px;
}

.star-fade,
.asteroid-fade,
.satellite-fade {
    width: 100%;
    height: 100%;
    
    /* background-color: #ff6699; */
    animation: 4s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
  }
  
  .satellite-fade:hover {
    /* background-color: #123; */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
  #satellite-icon{
    width: 200px;
    height: auto;
}

#asteroid-icon{
    width: 200px;
    height: auto;
}

#satellite-el{
    margin: auto;
    width: 100%;
    /* margin-right: 20px; */
  }
#asteroid-el{
  margin: auto;
  width: 100%;
/* overflow: hidden;  */
/* margin: 10px; */
}

#star-icon{
  width: 200px;
  height: auto;
}

#map{
  height: 250px;
  width: 250px;
}
/* styles for sunset page */
#starMain{
  align-content: center;
}

.frame,
.starInfo{
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  margin: auto;
  padding: 30px;
}

.iotdSize{
  width: 100%;
}
#starBtn{
  align: center;
  vertical-align: center;
}

.welcome-screen{
  opacity: 0.7;
  height: auto;
}

