.background,
.background1,
.background2 {
  position: relative;
  background: url(./images/black_and_white_space.png) center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.background1:before {
  content: "";
  width: 100%;
  height: 100vh !important;
  position: absolute;
  background: url(./images/smokey-fall-smoke-sunset.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity 5s;
}

.background1.fadein:before {
  opacity: 1;
}
.background2:before {
  content: "";
  width: 100%;
  height: 100vh !important;
  position: absolute;
  background: url(./images/stars_gradient.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity 5s;
}

.background2.fadein:before {
  opacity: 1;
}

.date{
  font-size: 14px;
  color: rgb(200, 214, 226);
}

.center{
  margin: auto;
  width: 100%;
  border: 1px;
  padding: 10px;
}

#start-btn{
}


.footer {
  font-size: 10px;
  position: fixed;
  padding: 12px 0px 0px 0px;
  border-top: 3px solid #d1a9b7;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(192, 227, 233);
  color: #6c757d;
  text-align: center;
}

#satellite-option {
  margin: 30px;
}

#asteroid-option {
  margin: 30px;
}

.asteroid-fade,
.satellite-fade {
    width: 60px;
    height: 60px;
    
    /* background-color: #ff6699; */
    animation: 4s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
  }
  .asteroid-fade,
  .satellite-fade:hover {
    /* background-color: #123; */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
  

#satellite-icon{
    width: 200px;
    height: auto;
}

#asteroid-icon{
    width: 200px;
    height: auto;
}
